@telecom-argentina:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-BeLg7AB6VerWNH8toyzs
//gitlab.com/api/v4/projects/23905190/packages/npm/:_authToken=glpat-BeLg7AB6VerWNH8toyzs